.ContactList {
  width: 650px;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ContactListItem {
  display: flex;
}

.ContactListItem button {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 15px;
  margin-left: auto;
}
.ContactListItem button:hover {
  background-color: antiquewhite;
}
